<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a href="#" onClick="history.go(0);">New</a>
    <a href="#">Load</a>
    <a href="#">Save</a>
    <a href="#">About</a>
  </mat-drawer>

  <div id="wrapbox">
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu
    </button>
  </div>
  <h1>SemCloud: Semantics Enhanced Cloud System</h1>
  </div>
  <hr>

  <div *ngFor="let x of pipelines">
    <app-pipeline></app-pipeline>
  </div>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)='addPipeline("Pipeline")'>Add New Pipeline</button>
  </div>

</mat-drawer-container>