<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <a href="#" onClick="history.go(0);">Questionnaire</a>
    <a href="#" (click)="download('Log.csv');">Download</a>
  </mat-drawer>

  <!--
  
  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Menu
    </button>
  </div>
  -->
  <div id="wrapbox">
     <h1>SemCloud: Semantics Enhanced Cloud System</h1>
  </div>


  <div *ngFor="let pipeline of pipelines">
    <app-pipeline [name]="pipeline.name"></app-pipeline>
  </div>

  <div class="example-sidenav-content">
    <!-- <button type="button" mat-button (click)='addPipeline("Pipeline")'>Add New Pipeline</button> -->
    <button type="button" mat-button (click)="openDialog()">Add New Pipeline</button>
  </div>

</mat-drawer-container>